
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
.container {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
.add {
    width: 100px;
    text-decoration: none;
    line-height: 35px;
    display: block;
    border-radius: 10px;
    border: none;
    align-items: center;
    background-color: aqua;
}
.add :hover {
    background-color:#002ead;
    transition: 0.7s;
}
