
label {
  font-weight: bolder;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
.container {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .noselect {
    margin-left: 34%;
    border-radius: 10px;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-tap-highlight-color: transparent;
  }
  
  @media (max-width: 500px){
    .noselect {
      margin-left: 33%;
      border-radius: 10px;
      -webkit-touch-callout: none;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
  }

  button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c3ca7;
    background-image: linear-gradient(315deg, #7f5a83b4 0%, #272ad39f 74%);
    background-size: 200% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: 500ms;
  }
  
  button:before {
    content: 'Add';
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.877);
    font-size: 16px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    transition: 500ms;
  }
  
  button:hover {
    border-radius: 25px;
    background-position: right;
  }
  
  button:hover:before {
    color: rgb(255, 255, 255);
  }
  
  button:focus {
    outline: none;
  }