.table-container{
    padding: 0 10%;
    margin-top: 40px;
}
*{
	box-sizing: border-box;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table td,.table th{
    padding:12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .table thead{
      background-image: linear-gradient(360deg, #6493af94 50%, #3a3ce277 100%);
      color:#ffffff;
  }
  
  .table tbody tr:nth-child(even){
      background-color: #f5f5f5;
  }
  
@media (max-width: 720px){
    .table thead{
        display: none;
    }
    .table, .table tbody,.table tr,.table td{
        display: block;
        width:100%;
    }
    table tr{
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
        background: rgba( 255, 255, 255, 0.2 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
    }
	.table td{
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-image: linear-gradient(360deg, #ffffff 80%, #f5f5f5 100%);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
		padding-left: 50%;
        text-align: left;
        width: auto;
        margin-top: 5px;
        margin-left: 35%;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
        border-radius: 10px;
		width: 35%;
		font-weight: bold;
		text-align: right;
	}
}