body {
    width: auto;
    height: auto;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    backdrop-filter: blur(50px);
}